/build
/build-*
# Default VSCode and VS dirs
.vs
.vscode
*.col
__pycache__
bin
obj
env/
/csharp/cplex/api/dev_cpxsharp.csproj
/csharp/cplex/api/dev_cplexsharp.csproj
/csharp/gurobi/api/dev_gurobisharp.csproj
/test/models/*.sol
/csharp/ampls/api/dev_amplssharp.csproj
/csharp/simpleapi/api/dev_simpleapisharp.csproj
/python/cplex/examples/env
/python/cplex/examples/cb.log
/python/examples/env
*~
/doc/rst/doxyxml
/csharp/copt/api/dev_coptsharp.csproj
/csharp/cplexmp/api/dev_cplexmpsharp.csproj
/python/examples/.vscode
*.sol
amplpy_*_swig.py
amplpy_*_swig_wrap.cxx
amplpy_*_swig_wrap.h
/python/cplex/amplpy_cplex/swig/amplpy_cplex_swig_wrap.cxx
/python/cplex/amplpy_cplex/swig/amplpy_cplex_swig.py
/python/cplex/amplpy_cplex/swig/amplpy_cplex_swig_wrap.h
