/build
/build-*
# Default VSCode and VS dirs
/.vs
/.vscode
*.col
__pycache__
bin
obj
/csharp/cplex/api/dev_cpxsharp.csproj
/csharp/cplex/api/dev_cplexsharp.csproj
/csharp/gurobi/api/dev_gurobisharp.csproj
/test/models/*.sol
/csharp/ampls/api/dev_amplssharp.csproj
/csharp/simpleapi/api/dev_simpleapisharp.csproj
/python/cplex/examples/env
/python/cplex/examples/cb.log
/python/examples/env
*~
